:host {
  display: block;
}

.logged-out-message-container {
  border: 1px solid #ff6a1a;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
  gap: 10px;
}

.logged-out-message-container p span {
  color: #ff6a1a;
  font-size: 24px;
  font-weight: 700;
}

.logged-out-message-container .links {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.logged-out-message-container .link-as-btn.sign-up-link {
  background-color: #52744b;
  padding: 3px 15px;
  color: #fff;
  border-radius: 4px;
  transition: all 200ms;
}

.logged-out-message-container .link-as-btn.sign-up-link:hover {
  background-color: #395135;
}

.logged-out-message-container .link-as-btn.login-link {
  color: #ff6a1a;
  text-decoration: underline;
  transition: all 200ms;
}

@media (max-width: 767px) {
    .logged-out-message-container {
        padding: 25px 15px;
    }
}