:host {
  display: block;
  height: 100dvh;
  /* font-family: 'Red Hat Text'; */
  background-size: cover;
}

h1 {
  text-align: center;
  color: #2945b8;
  margin: 80px 0;
}

.box {
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 12px 24px;
  color: #2945b8;
  background-color: #E7F4FF;
  border: 2px solid #E7F4FF;
  border-radius: 999px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
