.CssAccordion {
  width: 100%;
  max-width: 760px;
}

.faq-drawer {
  margin-bottom: 0;
}

.faq-drawer__trigger {
  display: none;
}

.faq-drawer__title {
  border-top: #000 1px solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-size: 1.25em;
  font-weight: 700;
  padding: 30px 0;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
}

.faq-drawer__title:hover {
  color: #4e4b52;
}

.faq-drawer__title-text {
  flex: 1;
}

.faq-drawer__chevron {
  width: 20px;
  height: 20px;
  flex: 0 0 auto;

  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out;
}

.faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s ease-in-out;
  overflow: hidden;
  min-height: 0;
}

.faq-drawer__content {
  overflow: hidden;
  min-height: 0;
  padding: 0;
}

.faq-drawer__content p {
  margin: 0;
}

/* Open state */
.faq-drawer__trigger:checked + .faq-drawer__title + .faq-drawer__content-wrapper {
  grid-template-rows: 1fr;
}

.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper
  > .faq-drawer__content {
  padding: 0;
}

.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper
  > .faq-drawer__content
  > p {
  padding-bottom: 30px;
}

.faq-drawer__trigger:checked + .faq-drawer__title .faq-drawer__chevron {
  transform: rotate(-180deg);
}

.faq-drawer--nested {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.faq-drawer--nested .faq-drawer__title {
  font-size: .85em;
  padding: 30px 0;
}

 .faq-drawer--nested .faq-drawer__title span {
   font-size: .85em;
 }

 .faq-drawer--nested .faq-drawer__content {
    font-size: .85em;
 }